div#app {
  padding: 20px;
}

div.lame-excuse {
  font-size: 0.9em;
  border-width: 1px;
  border-style: dashed;
  border-color: yellow;
  padding: 1em;
}

p.attento {
  text-align: center;
  font-weight: bold;
}

div.lame-excuse img {
  float: right;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.7em;
}

.form-field {
  margin-bottom:1em;
}
.form-field label {
  float:left;
  width:16em;
  text-align:left;
}

.form-submit {
  text-align:right;
  margin-top:1em;
  margin-bottom:1em;
  margin-left:12em;
}

div.form {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  margin-right: 10em;
}

.note {
  font-weight: normal;
  font-size: 12px;
  padding-left: 2em;
}

div#flash {
  border-width: 1px;
  border-style: solid;
  border-color: yellow;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px;
  margin: 20px;
}   

div.nav {
  font-size: 12px;
  padding: 5px;
  padding-right: 20px;
  padding-top: 25px;
  text-align: right;
  float: right;
}

a:visited {
  color:#5e5a80;
  text-decoration:
}

