
div#ap {
  padding: 50px;
}

div.lame-excuse {
  font-size: 0.9em;
  border-width: 1px;
  border-style: dashed;
  border-color: yellow;
  padding: 1em;
}

p.attento {
  text-align: center;
  font-weight: bold;
}

div.lame-excuse img {
  float: right;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

.form-field {
  margin-bottom:1em;
}
.form-field label {
  float:left;
  width:16em;
  text-align:left;
}

.form-submit {
  text-align:right;
  margin-top:1em;
  margin-bottom:1em;
  margin-left:12em;
}

div.form {
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
}

.note {
  font-weight: normal;
  font-size: 12px;
  padding-left: 2em;
}

div#flash {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 5px;
}   

div.nav {
  text-align: right;
  font-size: 0.7em;
}

