<p>Hey hey - thanks for ordering. We'll send you an email when Paypal confirms it's all good.</p>

<ul class="nav">
  <li><%= link_to 'Your order summary', order_path(@order) %></li>
  <li><a href="/">Back to the site</a></li>
</ul>
