<div class="form">
  <h2>[ #<%= @order.id %> ] <%= "#{pluralize(@order.tickets.length, 'ticket')} (#{@order.state})" %></h2>

  <%= render :partial => 'form' %>
</div>
<ul class="nav">
  <li><%= link_to 'Back', orders_path %> to your orders</li>
</ul>
