<p>If you have mislaid your password, please enter the email address by which you were invited and we'll send you a mail to reset it.</p>
<p>If you're not already signed up, <%= link_to 'click here to sort it out', :action => :signup %>

<div class="form">
  <% form_for :punter, @punter, :url => { :action => :reset } do |f| %>
    <p class="form-field"><%= f.label :email %><%= f.text_field :email %></p>
    <div><%= submit_tag "Sort it", {:class => "form-submit"} %></div>
  <% end %>
</div>

<p>Problems? Please mail <font face="courier"><a href="mailto:site@thelongestday.net">site@thelongestday.net</a></font></p>
