<p class="jfri">Thanks! We've sent you an invitation mail. Please follow the link in the mail to complete your sign up.</p>
<p>Tickets are no longer on sale. <span class="jfri">Mail <a href="mailto:site@thelongestday.net">site@thelongestday.net</a> to enquire further</span>.</p>
<p>If you do not receive the mail in 10 minutes or so, please check your spam / junk folders and perhaps let your mail provider know that you dig mail from
<span class="jfri">site@thelongestday.net</span> and that it's very much not junk mail. Yes!</p>

<p>Problems? Please mail <font face="courier"><a href="mailto:site@thelongestday.net">site@thelongestday.net</a></font></p>
