<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Mac OS X (vers 31 October 2006 - Apple Inc. build 13), see www.w3.org" />
  <meta http-equiv="Content-Type" content=
  "text/html; charset=us-ascii" />

  <title>The Longest Day</title>
    <link rel="stylesheet" type="text/css" href="http://site.thelongestday.net/tld2009.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" >
    <link rel="shortcut icon" href="/favicon.ico">
</script>
</head>

<body>
  <div align="center">
    <img src="http://site.thelongestday.net/tlbanner.jpg" width="1024" height="254" />
  </div>

  <div align="center">

    <%= yield %>

  </div>

  <div align="center">
    <span class="style21">web design by <a href=
    "http://www.digibloc.com">Digibloc.com</a></span>
  </div>
</body>
</html>
